.phone-hidden,
.phone-show-menu,
.from,
.vip,
.left-header,
.right-header,
.header,
.author,
.slide {
    display: flex;
}

.header {
    width: 100%;
    height: 60px;
    justify-content: center;
    background-color: #fdfdfd;
}

.header .container {
    width: 90%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto auto;
}

.header .container .left-header .left-logo {
    line-height: 60px;
}

.header .container .left-header .left-logo .logo-img {
    width: 106.99px;
    height: 22px;
}

.header .container .left-header .left-logo .mobile {
    display: none;
}

.header .container .left-header .menu {
    margin-left: 30px;
    font-size: 14px;
}

.header .container .left-header .menu .phone-show-menu {
    position: relative;
    line-height: 60px;
    display: none;
    width: 60px;
    cursor: pointer;
}

.header .container .left-header .menu .phone-show-menu a {
    width: 30px;
    text-decoration: none;
    color: #0085ff;
    font-size: 15px;
}

.header .container .left-header .menu .phone-show-menu .triangle {
    position: absolute;
    top: 28px;
    left: 35px;
    width: 0px;
    height: 0px;
    border: 5px black solid;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.header .container .left-header .menu .phone-hidden {
    line-height: 50px;
}

.header .container .left-header .menu .phone-hidden li {
    width: 30px;
    list-style: none;
    margin-right: 23px;
}

.header .container .left-header .menu .phone-hidden li:hover:nth-child(-n+5) {
    border-bottom: 3px solid #1e80ff;
}

.header .container .left-header .menu .phone-hidden li a {
    text-decoration: none;
    color: black;
}

.header .container .left-header .menu .phone-hidden li a:hover {
    color: #505767;
}

.header .container .right-header {
    margin-left: 100px;
    height: 60px;
    position: relative;
}

.header .container .right-header .slide {
    width: 420px;
    overflow: hidden;
    margin-right: 5px;
}

.header .container .right-header .slide .right-input {
    height: 60px;
}

.header .container .right-header .slide .right-input .from {
    position: relative;
    margin-right: 10px;
}

.header .container .right-header .slide .right-input .from .search-input {
    padding-left: 10px;
    opacity: 0.5;
    font-size: 13px;
    margin-top: 10px;
    width: 250px;
    height: 30px;
    transition: 0.5s width;
    margin-right: 15px;
}

.header .container .right-header .slide .right-input .from .search-input:focus {
    width: 390px;
}

.header .container .right-header .slide .right-input .from .search-input:focus~.search-icon-container {
    left: 380px;
}

.header .container .right-header .slide .right-input .from .search-icon-container {
    position: absolute;
    left: 240px;
    top: 18px;
    transition: 0.5s left;
}

.header .container .right-header .slide .creator-item {
    cursor: pointer;
}

.header .container .right-header .slide .creator-item .author {
    line-height: 35px;
    text-align: center;
    margin-top: 10px;
    border-radius: 3px;
    color: aliceblue;
}

.header .container .right-header .slide .creator-item .author .text {
    height: 35px;
    width: 100px;
    background-color: #0085ff;
    margin-right: 1px;
    font-size: 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.header .container .right-header .slide .creator-item .author .text:hover {
    background-color: #1680e3;
}

.header .container .right-header .slide .creator-item .author .mine {
    line-height: 35px;
    height: 35px;
    width: 15px;
    color: aliceblue;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #0085ff;
}

.header .container .right-header .slide .creator-item .author .mine:hover {
    background-color: #1680e3;
}

.header .container .right-header .more-list {
    display: none;
    list-style: none;
    background-color: #ffffff;
    font-size: 14px;
    position: absolute;
    width: 78px;
    border-radius: 5px;
    left: 290px;
    top: 47px;
    padding: 0 20px;
    overflow: hidden;
}

.header .container .right-header .more-list li {
    margin-top: 20px;
    font-weight: 10;
}

.header .container .right-header .more-list li i {
    font-weight: 10;
    font-size: 18px;
}

.header .container .right-header .more-list li span {
    margin-left: 10px;
    font-size: 15px;
    color: #53595e;
}

.header .container .right-header .vip {
    height: 60px;
    width: auto;
    line-height: 60px;
    color: #505767;
    font-size: 14px;
    margin-right: 15px;
}

.header .container .right-header .vip img {
    width: 23px;
    margin-right: 4px;
}

.header .container .right-header .register {
    line-height: 53px;
}

.header .container .right-header .register button {
    width: 55px;
    height: 38px;
    background-color: #e3f0f6;
    border: 1px solid #7dd4ff;
    color: #0085ff;
    border-radius: 3px;
}

@media all and (max-width: 1350px) {
    .disappear_1 {
        display: none;
    }
}

@media all and (max-width: 1340px) {
    .vip-words {
        display: none;
    }
}

@media all and (max-width: 1265px) {
    .phone-hidden {
        display: none;
    }
    .phone-show-menu {
        display: block !important;
    }
}

